torch
torchaudio
torchvision
ultralytics
lap>=0.5.12
scipy
scikit-learn
rich
pycryptodome
PyAutoGUI
protobuf==3.20.2
pandas
multiprocess
matplotlib
rdp
tqdm
opencv-contrib-python
sv_ttk
tk
darkdetect
pywinstyles
pillow
win32mica
win32gui